footer{
    background-color: rgb(245,245,245);
    width: 100%; 
    padding: 40px 20px 20px 20px; 
    margin-top: 120px;
    color: #99999a;
}
footer div{
    font-size: 0.8em;
    margin-top: 3px;
    margin-bottom: 3px;
}
footer button{
    background-size: contain; 
    width: 24px; 
    height: 24px;
}
footer #btn_facebook{
    background-image: url(../../image/Facebook_logo.svg);
}
footer #btn_blog{
    background-image: url(../../image/blog_icon.svg);
}