body{
    margin:0 auto;
    display: flex;
    display: block;
    justify-content: center;
}
ul li{
    display: inline; 
    list-style: none; 
    float: left;
}
ul li a{text-decoration: none; color: black;}
p{color: black; text-decoration: none;}


/* top image */

.main_img{
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 0 0;
}
@media screen and (max-width:1024px) {
    .main_img{width: 100%; margin-bottom: 0;}
}
/* icons part */
div.main_icons{  
    overflow: hidden;
    background-color: rgb(245, 244, 244);
    text-align: center;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

div.main_icons ul{
    margin: 0 auto;
    list-style-type: none; 
    text-align: center;
    display: flex;
    justify-content: center;  
    padding: 0 0 0 0;          
}
.main_icons ul li{    
    margin: 20 auto; padding: 0 30px;
    /* letter-spacing: 10px; */
}
.main_icons img{width: 70px; height: 70px;}

@media screen and (max-width:1024px) {
    .main_icons{flex-direction: column;}
    #icons_row{display: flex; flex-direction: row;}
    .main_icons img{width:40px; height: 40px;}
}

/* news section */
.main_news{
    overflow: hidden; 
    display: flex;
    justify-content: center;
    height: 10%;
    position: relative;
}
.main_news #head{
    position:absolute;
    display: block;
    left: 0;
}
.main_news ul li{
    border: 1px solid rgb(97, 97, 97);
    margin-right: 40px;
    display: flex;
    justify-content: center;
}
.main_news span #news{
    width: 400px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.main_news span p{
    padding-left: 10px;
    float: right;
    padding-right: 10px;
}

@media screen and(max-width:1024px) {
    div h2{font-size: 10em;}
}

/* download */
.main_down{
    height: 350px;
    background-image: url(../image/main/bg_appdown.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    position: relative;
}
.main_down p{
    position: absolute;
    font-size: 20px;
    top: 40%;
    transform: translate(0,-50%);
}

@media screen and (max-width:1024px){
    .main_down{visibility: hidden; display: none;}
    
}

/* event section */
.main_event{
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    height: 7%;
}
.container{
    position: relative;
}
.events{display: flex; position: absolute; top: 0; left: 0;}
.event{
    text-align: center;
}



/* advertisement*/
.main_ad{
    overflow: hidden; 
    display: flex;
    justify-content: center;
    height: 10%;
}
/* .main_ad ul{
    text-align: center;
    display: flex;
    justify-content: center; 
    float: left; 
} */
.main_ad ul li{
    border: 1px solid rgb(97, 97, 97);
    margin-right: 40px;
    float: left;
    display: flex;
    justify-content: center; 
}
.main_ad img{
    width: 400px;
}
