@charset "utf-8";
@media screen and(max-width:1024px) {
    
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
button{
    border: none;
    background-color: transparent;
}
header .point_header{
    color: aqua;
    background-color: aquamarine;
}
ul{
    list-style: none;
}
h2{
    color: white;
    background-color: red;
}
button #point_btn {
    color: white;
    background-color: #1273e4;
}
nav {
    display: block;
    float: left;
    width: 238px;
    padding-left: 31px;
}
.navi li{
    margin-bottom: 18px;
    font-size: 18px  Pretendard;
}
.navi a {
    margin-bottom: 18px;
    font-size: 18px  Pretendard;
    color: #0000008F;
}
#active {
    color: red;
    font-weight: bold;
}
.noti_checkbox {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}