ul{list-style-type: none;}
li{list-style: none; float: left; margin-right: 20px;}
ul li a{text-decoration: none; color: black; }

div.srp1_top{
    background-color: rgb(255, 53, 53);
    padding: 24px;
    margin: 0;
}
#top_location h2{
    color: white;   
    font-size: 28px;

}

#top_location p{color: white; float: left; vertical-align: text-top; font-size: 18px;}
#top_location button{
    background-color: rgba(0, 0, 0, 0.091); 
    color: white; 
    border: 1px solid rgba(0, 0, 0, 0.194);
    margin-top: 15px;
    margin-left: 10px;
}
#top_date{
    visibility:hidden;
    display: none;
}
@media screen and (max-width:1024px) {
    div.srp1_top{background-color: white; margin: 0 auto; padding: 12px; margin-bottom: 0;}
    #top { background-color: rgb(233, 233, 233); padding-bottom: 8px; margin-bottom: 0;}
    #top_location{
        display: flex; flex-direction: column; justify-content: left; margin-left: 10%; float: left; 
    margin-bottom: 0;}
    #top_location h2{color: gray; font-size: 14px; margin-bottom: 0; }
    #top_location p{color:black; font-size: 18px; float:left; margin-top: 0; margin-bottom: 0;} 
    #top_location button{visibility: hidden; display: none;}
    img{visibility: visible;  height: 30px; width: 30px;}

   
    #top_date {display: flex; visibility: visible; justify-content: center; }
    #top_date img{visibility: visible; height: 30px; width: 30px; vertical-align: middle; display: inline-block;}
 

    #ad{float: right;}
}
@media screen and (max-width:1024px){
    div.srp1{margin-left: 0; padding-left: 0;}
    div.srp1 ul{margin-left: 0; padding: 0 0 0 0; display: flex; justify-content: left;}
    div.srp1.tab{display:block; margin-left: 0; text-align: left; justify-content: left;}
}


div.srp1{margin: 16px;}
a:hover{color: red;}
.tab{display:flex; justify-content: left; overflow: hidden; margin:0 auto; text-align: left;}
.sub{ background-color: rgb(247, 247, 247); }

.contents{margin: 0 auto;}
.contents ul{margin: 0 auto;}
.contents ul li{margin:0; background-color:rgb(253, 249, 232); width: 100%;}
#content{
   display: table;
   padding: 16px; 
   width: 100%;
   margin:0;
}
#img{
    height: 200px;
    width: 100px;
    background-image: url(../image/main/content1.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    display: table-cell;
    vertical-align: text-top;
    background-position: left;
}
#content p{margin-left: 20px; }
p.reviews{color: rgb(255, 208, 0);}
p.reservation{color: rgb(196, 196, 196);}