*{
    margin: 0px;
    padding: 0px;
    font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border: none;
    background-color: transparent;
}
/* div{
    border: 1px solid gold;
} */
ul{list-style-type: none;}
li{list-style: none; float: left; margin-right: 20px;}

.srp1,.contents{
    display: flex;
    justify-content: center;
    width: 1024px;
    flex-direction: column;
}
.srp1{    
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 1024px;
    padding: 24px;
    justify-content: center;
    flex-direction: column;
}
div.tab{
    display:flex; 
    justify-content: left; 
    overflow: hidden; 
    margin:0 auto; 
    text-align: left;
    padding-bottom: 16px; 
    margin-left: 0;
}
.tab ul li{
    display: flex;
    justify-content: left;
    padding-left: 0px;
}
.srp1 p{ font-size: 1.3em; }
.srp1 a{color: rgb(201, 201, 201);}
.srp1 a:hover{color:red}


@media screen and (max-width:1024px){
    div.srp1{margin-top: 100px; margin-left: 0; padding-left: 0;}
    div.srp1 ul{margin-left: 0; padding: 0 0 0 0; display: flex; justify-content: left;}
    div.srp1.tab{display:block; margin-left: 0; text-align: left; justify-content: left; padding-left: 8px;}
    .srp1 p{font-size: 1.0em;}
    .srp1 a{color: black;}
}


.container{
    display: flex; flex-direction: row; justify-content: center;
}

/* 추천 및 광고 부분 */
.sub{padding: 8px; padding-right: 0;}
#rec{float: left; font-size: 1.3em;}
#ad{float: right; }

@media screen and (max-width:1024px){
    .sub{background-color:rgb(247, 247, 247); margin: 0px;}
}

/*  호텔부분 */
.contents{margin: 0 auto; padding: 8px;}
.contents ul{margin: 0 auto;}
.contents ul li{margin:0; padding: 0px;  width: 100%;}
#content{
   display: table;
   padding: 16px; 
   width: 100%;
   margin:0;
   background-color:rgb(253, 249, 232);
}
#img{
    height: 300px;
    width: 150px;
    background-image: url(../image/srp/content1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    display: table-cell;
    vertical-align: text-top;
    background-position: left;
}
#content span{
    height: 300px;
    width: 150px;
    display: table-cell;
    vertical-align: text-top;
    float: left;
}
#content span img{
    width: 150px;
    height: 300px;
    object-fit: cover;
    float: left;
}
#content p{
    text-align: left;
    margin-left: 20px;
}
p.reviews{color: rgb(255, 208, 0);}
p.reservation{color: rgb(196, 196, 196);}
@media screen and (max-width:1024px) {
    aside{visibility: hidden; display: none;}
    .contents ul{ display:flex; flex-direction: column;}
}

/* 헤더 관련 */
.header_bg{
    height: 211px;
    background-color: #f7323f;
    background-size: cover;
}
.top_header_bg{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 72px;
}
header{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    height: 211px;
    justify-content: center;
}
.top_header{
    display: flex;
    position: fixed;
    width: 1024px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}
.top_header #btn_more{
    display: none;
    background-image: url('../image/hamburger.png');
    background-size: contain;
    width: 16px;
    height: 16px;
}
.top_header #logo{
    width: 95px;
    margin-left: 20px;
}
.top_header img{
    width: 95px;
}
.top_header #top_nav{
    margin-right: 20px;
}
.top_header #top_nav>li{
    display: inline-block;
}
.top_header>#top_nav span{
    color: white;
    padding: 5px;
}
.top_header #top_nav_submenu{
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 120px;
    height: 130px;
    background-color: white;
    padding: 20px;
    z-index: 1;
    box-shadow: 1px 1px 3px gray;
    border-radius: 4px;
    padding: 20px;
}
.top_header #more:hover #top_nav_submenu{
    display: block;
}
.top_header #top_nav_submenu li{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.top_header>span{
    display: none;
    width: 16px;
    height: 16px;
}
.top_header .drawer{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.top_header .drawer_btn_wrapper{
    order: 2;
    flex-shrink: 0;
    text-align: center;
    width: 60px;
}
.top_header #btn_drawer_close{
    width: 16px;
    height: 16px;
    background-image: url(../image/x.png);
    background-size: contain;
    margin-top: 20px;
}
.top_header .drawer_body{
    flex-direction: column;
    display: inherit;
    order: 1;
    flex-grow: 1;
    background-color: #e8e8e8;
}
.top_header .drawer_fixed{
    display: inherit;
    height: 190px;
    flex-direction: column;
    justify-content: center;
}
.top_header .drawer_profile{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    background-color: #ff0055;
    height: 134px;
    text-align: center;
    color: white;
    font-size: 0.9em;
    padding: 10px;
}
.top_header .drawer_nav{
    display: flex;
    background-color: #e62243;
    height: 56px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0px;
}
.top_header .drawer_fixed a{
    color: white;
}
.top_header .drawer_profile a{
    font-size: 1.2em;
    font-weight: bold;
}
.top_header .drawer_menu{
    overflow: auto;
}
.top_header .drawer_menu>ul{
    background-color: white;
    padding: 5px 0px;
}
.top_header .drawer_menu>ul>li{
    border-bottom: 1px solid lightgray;
}
.top_header .drawer_menu li{
    margin: 30px 20px;
}
.top_header .drawer_menu>ul ul{
    display: none;
}
.top_header .drawer_tel{
    margin-top: 60px;
    text-align: center;
}
.top_header .drawer_tel :first-child{
    font-size: 0.8em;
}
.top_header .drawer_tel :nth-child(2){
    font-size: 1.65em;
    font-weight: bold;
}
.top_header .drawer_tel :last-child{
    font-size: 0.9em;
}





div.srp1_top{
    margin: 16px;
    width: 1024px;
    height: 211px;
    padding: 24px;
    margin: 0;
}

#top_location h1{
    font-weight: normal;
    font-size: 2.2em;
    color: white;
    margin-top: 82px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#top_location p{ 
    margin-left: 20px;
    margin-top: 5px;
    color: white; float: left; 
    vertical-align: text-top; font-size: 18px;
}


#top_location button{
    background-color: rgba(0, 0, 0, 0.091); 
    color: white; 
    border: 1px solid rgba(78, 78, 78, 0.194);
    margin-top: 5px;
    margin-left: 10px;
    padding: 4px;
}
#top_date{
    visibility:hidden;
    display: none;
}
@media screen and (max-width:1024px) {
    div.srp1_top{
        background-color: white; margin: 0; 
        height: 40px; width: 100%; 
        padding: 0;
        margin: 10px;
        margin-top: 56px;
        background-color: rgb(233, 233, 233);
        display: flex;
        flex-direction: row;
    }
    
    #top_location{
        display: flex; flex-direction: column; justify-content: left; 
         float: left; 
        width: 50%; margin-bottom: 0;
        transform: translate(20%,0);
    }
    #top_location h1{
        color: gray;  margin-bottom: 0;
        font-size: 0.7em;
        margin: 0;
    }
    #top_location p{color:black; font-size: 1.0em; float:left; margin: 0; } 
    #top_location button{visibility: hidden; display: none;}
    img{
        visibility: visible;  height: 30px; width: 30px;
        vertical-align: middle; display: flex;
    }

   
    #top_date {
        display: flex; visibility: visible; 
        width: 50%;
        transform: translate(0,0); 
        flex-direction: row;
        justify-content: center;
    }
    #top_date_container{
        flex-direction: row;
        justify-content: center;
        width: 50%;
    }
    #top_date img{
        visibility: visible; height: 25px; width: 25px; margin: 0; padding: 0;
    }
}



@media screen and (max-width: 1024px) {
    .top_header_bg{
        position: absolute;
        height: 44px;
        background-color: white;
        box-shadow: 0px 3px 3px lightgray;
    }
    .header_bg{
        display: none;
    }
    .top_header{
        position: inherit;
        width: 100%;
        height: 44px;
        background-color: white;
        justify-content: space-between;
    }
    .top_header #btn_more{
        display: inline-block;
        top: 0;
        margin-left: 20px;
    }
    .top_header #logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 0px;
    }
    .top_header>#logo>img{
        content: url('../image/logo.svg');
    }
    .top_header #top_nav{
        display: none;
    }
    .top_header>span{
        display: inline-block;
        margin-right: 20px;
    }

    /* .sub_header{
            display: none;
    } */
   
}